@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc
@{
    ViewBag.Title = "ContactUs";
}

<h2>Contact Us</h2>

@using (Html.BeginForm("ContactUs", "Home", FormMethod.Post, new { id = "form" }))
{
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2" for="fName">First Name:</label>
            <div class="col-sm-10">
                <table>
                    <th><input type="text" size="50" class="form-control" id="fName" name="fName" placeholder="Enter First Name" value="@ViewData["fName"]"></th>
                    <th><label id="fNameError"></label></th>
                </table>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="lName">Last Name:</label>
            <div class="col-sm-10">
                <table>
                    <th><input type="text" size="50" class="form-control" id="lName" name="lName" placeholder="Enter Last Name" value="@ViewData["lName"]"></th>
                    <th><label id="lNameError"></label></th>
                </table>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="Email">Email:</label>
            <div class="col-sm-10">
                <table>
                    <th><input type="email" size="50" class="form-control" id="email" name="email" placeholder="Enter Email" value="@ViewData["email"]"></th>
                    <th><label id="emailError"></label></th>
                </table>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="comment">Comment:</label>
            <div class="col-sm-10">
                <table>
                    <th><textarea class="form-control" rows="5" cols="40" id="comment" name="comment" placeholder="Enter Comment">@ViewData["comment"]</textarea></th>
                    <th><label id="commentError"></label></th>
                </table>
                
            </div>
        </div>

       <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
            @Html.Captcha("Refresh", "Enter the text you see above", 5, "Is required field", true)
            <font color="red">@ViewBag.ErrorMessage</font>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <table>
                    <th><button type="submit" id="submit" class="btn btn-primary">Submit</button></th>
                    <th><button type="button" id="reset" class="btn btn-success">Reset</button></th>
                </table>

            </div>
        </div>
    </form>
}
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $("#reset").click(function () {
        clear("fName");
        clear("lName");
        clear("email");
        clear("comment");
        clear("CaptchaInputText");
    });

    function clear(name) {
        $("#" + name).val('');
        $("#" + name).css("border-color", "");
        if (!(name === "CaptchaInputText"))
            $("#" + name + "Error").text('');
    }

    $("#form").submit(function (e) {
        var fName = $("#fName").val();
        var lName = $("#lName").val();
        var email = $("#email").val();
        var comment = $("#comment").val();
        var captcha = $("#CaptchaInputText").val();

        var validFName = isValid(fName);
        printError(validFName, "fName", "First Name is required");

        var validLName = isValid(lName);
        printError(validLName, "lName", "Last Name is required");

        var validEmail = isValid(email);
        if (validEmail) {
            validEmail = isValidEmailAddress(email);
            if(!validEmail)
                printError(validEmail, "email", "Invalid Email Address");
        }
        else
            printError(validEmail, "email", "Email is required");

        var validComment = isValid(comment);
        printError(validComment, "comment", "Comment is required");

        if (!(validFName && validLName && validEmail && validComment))
            e.preventDefault();
    });

    
    function isValid(input) {
        return (!input.trim()) ? false : true;
    }

    function printError(valid, name, error) {
        if (!valid) {
            $("#" + name).css("border-color", "red");
            $("#" + name + "Error").text(error).css("color", "red");
        }
        else {
            $("#" + name).css("border-color", "");
            $("#" + name + "Error").text('');
        }
    }

    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
        return pattern.test(emailAddress);
    }
</script>